.header {
    background-color: var(--secondary-color);
    height: 70px;
    border-radius: 0 0 10px 10px;
}

.header_link {
    text-decoration: none;
    color: var(--tertiary-color);
}

.header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100%;
    margin: 0;
    color: var(--tertiary-color);
    position: relative;
    top:4px;
}





/* MediaQueries Tablet */
@media screen and (max-width: 768px) {
    .header {
        height: 60px;
    }

    .header_title {
        font-size: 30px;
    }

}

/* MediaQueries Mobile */
@media screen and (max-width: 480px) {
    .header {
        height: 40px;
    }

    .header_title {
        font-size: 20px;
    }


}