*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
 }
 body {
     display:flex;
     justify-content: center;
     background-color: #000;
     align-items: center;
     color: rgb(0,209,205);
     font-family: 'Dancing Script', cursive;
     margin: 0;
     height: 80%;
     min-height: 100vh;
     flex-wrap: wrap;
   }
   .main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-20vw 49vh 0px 1px #fff,5vw 40vh 1px 1px #fff,29vw 19vh 1px 0px #fff,-44vw -13vh 0px 0px #fff,46vw 41vh 0px 1px #fff,-3vw -45vh 0px 1px #fff,47vw 35vh 1px 0px #fff,12vw -8vh 1px 0px #fff,-34vw 48vh 1px 1px #fff,32vw 26vh 1px 1px #fff,32vw -41vh 1px 1px #fff,0vw 37vh 1px 1px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
    box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
    animation: zoom 5s alternate infinite; 
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
   
   
 
 body {
     display:flex;
     justify-content: center;
     background: black;
     align-items: center;
     color: rgb(0,209,205);
     font-family: 'Dancing Script', cursive;
     margin: 0;
     height: 80%;
     min-height: 100vh;
     flex-wrap: wrap;
   }


 h1{
     color: rgb(0,209,205);
     margin-right:38vw;
     text-decoration:solid;
     font-size: 160px;
     font-family: 'Dancing Script', cursive
 }
 .team{
     text-align: center;
     margin-left:35%
 }
 .box{
     position: relative;
     width: 300px;
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 40px;
     transition: 0.5s;
     background: #060c21;
 }
 .self{
     height: 280px;
     width: 300px;
     border-radius: 10px;
 }
 .box:hover{
     height: 400px;
 }
 .box::before{
     content:'';
     position: absolute;
     top: -2px;
     bottom: -2px;
     left: -2px;
     right: -2px;
     background: #fff;
     z-index: -1;
 }
 .box::after{
     content:'';
     position: absolute;
     top: -2px;
     bottom: -2px;
     left: -2px;
     right: -2px;
     background: #fff;
     z-index: -1;
     filter: blur(40px);
 }
 .box::after,.box::before{
     background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
 }
 .box:nth-child(2):after,.box:nth-child(2):before{
     background: linear-gradient(235deg,#ff9d00,#021755,#00d478);
 }
 .box:nth-child(2):after,.box:nth-child(3):before{
     background: linear-gradient(235deg,#8cff00,#550227,#d43900);
 }
 .box:nth-child(2):after,.box:nth-child(4):before{
     background: linear-gradient(235deg,#9d870d,#013e48,#00d478);
 }
 .box .imgBx{
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     padding: 10px;
     box-sizing: border-box;
 }
 .box .imgBx img{
     max-width: 100%;
     opacity: 0.1;
     transition: 0.5s;
 }
 .box:hover .imgBx img{
     opacity: 1;
 }
 .box .content{
     position: absolute;
     bottom: 0;
     left: 10px;
     right: 10px;
     bottom: 10px;
     height: 90px;
     display: flex;justify-content: center;
     align-items:center;
     transition:0.5s;
     text-align: center;
 }
 .box:hover content{
     opacity:1;
 }
 .box .content h2{
     font-size:20px;
     color: rgb(0,209,205);
     font-weight: 500;
     line-height: 20px;
     letter-spacing: 1px;
 }
 .box .content h2 span{
     font-size:14px;
     color: rgb(0,209,205);
     font-weight: 200;
     letter-spacing: 2px;
 }
 .team_name{
     position: absolute;
     top: 75vw;
     font-size: 45px;
     font-family: 'Courier New', Courier, monospace;
 }
 
 @media screen and (max-width:480px) {
    h1 {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 120px;
    }
  }